body {
  transition: all 0.1s linear;

  &.scroll {
    .banner {
      a {
        &.brand {
          img {
            max-width: 90px;
            max-height: 90px;
          }
        }
      }

      .wrap-container {
        .wrap-container-inside {
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          background-color: rgba(255, 255, 255, 0.975);
          padding-top: 5px;
          padding-bottom: 5px;

          &::after {
            display: none !important;
          }
        }
      }

      li {
        &.menu-btn-item {
          a {
            color: theme-color("lighter");
          }
        }

        &.nav-btn-outline {
          a {
            background-color: theme-color("primary");
            color: theme-color("lighter") !important;
            border-color: theme-color("primary");

            &:hover,
            &:active,
            &:focus {
              color: theme-color("light") !important;
              background-color: theme-color("primary");
              border-color: theme-color("primary");

              @include dropshadowLight();
            }
          }
        }
      }

      .navbar {
        .nav-banner {
          .dropdown-toggle {
            &::after {
              content: url("../images/chevron-down-light.svg");
            }
          }
        }
      }
    }
  }
}
