*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords*
wp-content/mu-plugins/wpengine-common*
wp-content/mysql.sql
wp-content/mu-plugins/wpengine-security-auditor.php
wp-content/mu-plugins/wpe-wp-sign-on-plugin*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# Custom #
##########
tmp.*

wp-content/uploads/cache/
.htaccess
wp-content/uploads/wp-migrate-db/
wp-content/themes/rjbstarter/.cache-loader/
web/wp-content/uploads/cache/
web/.htaccess
web/wp-content/themes/rjbstarter/.cache-loader/
web/wp-content/uploads/wp-migrate-db/

wp-content/themes/rjbstarter/.cache-loader
# wp-content/themes/rjbstarter/dist
wp-content/themes/rjbstarter/node_modules
wp-content/themes/rjbstarter/npm-debug.log
wp-content/themes/rjbstarter/yarn-error.log
wp-content/themes/rjbstarter/resources/assets/config-local.json
# wp-content/themes/rjbstarter/vendor
web/wp-content/themes/rjbstarter/.cache-loader
web/wp-content/themes/rjbstarter/dist
web/wp-content/themes/rjbstarter/node_modules
web/wp-content/themes/rjbstarter/npm-debug.log
web/wp-content/themes/rjbstarter/yarn-error.log
web/wp-content/themes/rjbstarter/resources/assets/config-local.json
web/wp-content/themes/rjbstarter/vendor

web/wp-content/object-cache.php
web/wp-content/mu-plugins/mu-plugin.php
web/wp-content/mu-plugins/slt-force-strong-passwords.php
web/wp-content/mu-plugins/stop-long-comments.php
web/wp-content/mu-plugins/force-strong-passwords*
web/wp-content/mu-plugins/wpengine-common*
web/wp-content/mysql.sql

web/wp-config.php
web/wp-content/uploads/
web/wp-content/blogs.dir/
web/wp-content/upgrade/*
web/wp-content/backup-db/*
web/wp-content/advanced-cache.php
web/wp-content/wp-cache-config.php
web/wp-content/cache/*
web/wp-content/cache/supercache/*

wp-config-sample.php
wp-content/themes/__MACOSX/
web/wp-config-sample.php
web/wp-content/themes/__MACOSX/
