.row {
  &.gutter-none {
    margin-left: 0;
    margin-right: 0;

    & > .col {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.gutter-xs {
    margin-left: -5px;
    margin-right: -5px;

    & > .col {
      padding-left: -5px;
      padding-right: -5px;
    }
  }

  &.gutter-sm {
    margin-left: -10px;
    margin-right: -10px;

    & > .col {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &.gutter-md {
    margin-left: -20px;
    margin-right: -20px;

    & > .col {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &.gutter-lg {
    margin-left: -20px;
    margin-right: -20px;

    & > .col {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &.gutter-xl {
    margin-left: -25px;
    margin-right: -25px;

    & > .col {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &.gutter-xxl {
    margin-left: -30px;
    margin-right: -30px;

    & > .col {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media (min-width: 992px) {
    &.gutter-md {
      margin-left: -20px;
      margin-right: -20px;

      & > .col {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &.gutter-lg {
      margin-left: -25px;
      margin-right: -25px;

      & > .col {
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    &.gutter-xl {
      margin-left: -30px;
      margin-right: -30px;

      & > .col {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &.gutter-xxl {
      margin-left: -45px;
      margin-right: -45px;

      & > .col {
        padding-left: 45px;
        padding-right: 45px;
      }
    }
  }

  @media (min-width: 1440px) {
    &.gutter-md {
      margin-left: -20px;
      margin-right: -20px;

      & > .col {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &.gutter-lg {
      margin-left: -30px;
      margin-right: -30px;

      & > .col {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &.gutter-xl {
      margin-left: -45px;
      margin-right: -45px;

      & > .col {
        padding-left: 45px;
        padding-right: 45px;
      }
    }

    &.gutter-xxl {
      margin-left: -60px;
      margin-right: -60px;

      & > .col {
        padding-left: 60px;
        padding-right: 60px;
      }
    }
  }
}
