.banner {
  a {
    &.brand {
      img {
        width: auto;
        max-width: 120px;
        height: auto;
        max-height: 120px;
        transition: all 0.1s linear;
      }
    }
  }

  .wrap-container {
    .wrap-container-inside {
      transition: all 0.1s linear;

      @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .nav {
    li {
      @extend .nav-item;
    }

    a {
      @extend .nav-link;
    }
  }
}

header {
  &.header {
    &-section {
      margin-bottom: 2rem;
    }
  }
}
