section {
  &.upflow-1 {
    > .container {
      > .row {
        margin-top: -1rem;
      }
    }
  }

  &.upflow-2 {
    > .container {
      > .row {
        margin-top: -2rem;
      }
    }
  }

  &.upflow-3 {
    > .container {
      > .row {
        margin-top: -3rem;
      }
    }
  }

  &.upflow-4 {
    > .container {
      > .row {
        margin-top: -4rem;
      }
    }
  }

  &.upflow-5 {
    > .container {
      > .row {
        margin-top: -5rem;
      }
    }
  }

  &.upflow-6 {
    > .container {
      > .row {
        margin-top: -6rem;
      }
    }
  }

  &.upflow-7 {
    > .container {
      > .row {
        margin-top: -7rem;
      }
    }
  }

  &.upflow-8 {
    > .container {
      > .row {
        margin-top: -8rem;
      }
    }
  }

  &.upflow-9 {
    > .container {
      > .row {
        margin-top: -9rem;
      }
    }
  }

  &.upflow-10 {
    > .container {
      > .row {
        margin-top: -10rem;
      }
    }
  }

  &.upflow-11 {
    > .container {
      > .row {
        margin-top: -11rem;
      }
    }
  }

  &.upflow-12 {
    > .container {
      > .row {
        margin-top: -12rem;
      }
    }
  }

  &.upflow-13 {
    > .container {
      > .row {
        margin-top: -13rem;
      }
    }
  }

  &.upflow-14 {
    > .container {
      > .row {
        margin-top: -14rem;
      }
    }
  }

  &.upflow-15 {
    > .container {
      > .row {
        margin-top: -15rem;
      }
    }
  }

  &.upflow-16 {
    > .container {
      > .row {
        margin-top: -16rem;
      }
    }
  }

  &.upflow-17 {
    > .container {
      > .row {
        margin-top: -17rem;
      }
    }
  }

  &.upflow-18 {
    > .container {
      > .row {
        margin-top: -18rem;
      }
    }
  }

  &.upflow-19 {
    > .container {
      > .row {
        margin-top: -19rem;
      }
    }
  }

  &.upflow-20 {
    > .container {
      > .row {
        margin-top: -20rem;
      }
    }
  }

  &.upflow-cards-1 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -1rem !important;
        }
      }
    }
  }

  &.upflow-cards-2 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -2rem !important;
        }
      }
    }
  }

  &.upflow-cards-3 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -3rem !important;
        }
      }
    }
  }

  &.upflow-cards-4 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -4rem !important;
        }
      }
    }
  }

  &.upflow-cards-5 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -5rem !important;
        }
      }
    }
  }

  &.upflow-cards-6 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -6rem !important;
        }
      }
    }
  }

  &.upflow-cards-7 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -7rem !important;
        }
      }
    }
  }

  &.upflow-cards-8 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -8rem !important;
        }
      }
    }
  }

  &.upflow-cards-9 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -9rem !important;
        }
      }
    }
  }

  &.upflow-cards-10 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -10rem !important;
        }
      }
    }
  }

  &.upflow-cards-11 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -11rem !important;
        }
      }
    }
  }

  &.upflow-cards-12 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -12rem !important;
        }
      }
    }
  }

  &.upflow-cards-13 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -13rem !important;
        }
      }
    }
  }

  &.upflow-cards-14 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -14rem !important;
        }
      }
    }
  }

  &.upflow-cards-15 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -15rem !important;
        }
      }
    }
  }

  &.upflow-cards-16 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -16rem !important;
        }
      }
    }
  }

  &.upflow-cards-17 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -17rem !important;
        }
      }
    }
  }

  &.upflow-cards-18 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -18rem !important;
        }
      }
    }
  }

  &.upflow-cards-19 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -19rem !important;
        }
      }
    }
  }

  &.upflow-cards-20 {
    > .container {
      > .row {
        .col-cards {
          margin-top: -20rem;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    &.upflow-md-1 {
      > .container {
        > .row {
          margin-top: -1rem;
        }
      }
    }

    &.upflow-md-2 {
      > .container {
        > .row {
          margin-top: -2rem;
        }
      }
    }

    &.upflow-md-3 {
      > .container {
        > .row {
          margin-top: -3rem;
        }
      }
    }

    &.upflow-md-4 {
      > .container {
        > .row {
          margin-top: -4rem;
        }
      }
    }

    &.upflow-md-5 {
      > .container {
        > .row {
          margin-top: -5rem;
        }
      }
    }

    &.upflow-md-6 {
      > .container {
        > .row {
          margin-top: -6rem;
        }
      }
    }

    &.upflow-md-7 {
      > .container {
        > .row {
          margin-top: -7rem;
        }
      }
    }

    &.upflow-md-8 {
      > .container {
        > .row {
          margin-top: -8rem;
        }
      }
    }

    &.upflow-md-9 {
      > .container {
        > .row {
          margin-top: -9rem;
        }
      }
    }

    &.upflow-md-10 {
      > .container {
        > .row {
          margin-top: -10rem;
        }
      }
    }

    &.upflow-md-11 {
      > .container {
        > .row {
          margin-top: -11rem;
        }
      }
    }

    &.upflow-md-12 {
      > .container {
        > .row {
          margin-top: -12rem;
        }
      }
    }

    &.upflow-md-13 {
      > .container {
        > .row {
          margin-top: -13rem;
        }
      }
    }

    &.upflow-md-14 {
      > .container {
        > .row {
          margin-top: -14rem;
        }
      }
    }

    &.upflow-md-15 {
      > .container {
        > .row {
          margin-top: -15rem;
        }
      }
    }

    &.upflow-md-16 {
      > .container {
        > .row {
          margin-top: -16rem;
        }
      }
    }

    &.upflow-md-17 {
      > .container {
        > .row {
          margin-top: -17rem;
        }
      }
    }

    &.upflow-md-18 {
      > .container {
        > .row {
          margin-top: -18rem;
        }
      }
    }

    &.upflow-md-19 {
      > .container {
        > .row {
          margin-top: -19rem;
        }
      }
    }

    &.upflow-20 {
      > .container {
        > .row {
          margin-top: -20rem;
        }
      }
    }

    &.upflow-cards-1 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -1rem !important;
          }
        }
      }
    }

    &.upflow-cards-2 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -2rem !important;
          }
        }
      }
    }

    &.upflow-cards-3 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -3rem !important;
          }
        }
      }
    }

    &.upflow-cards-4 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -4rem !important;
          }
        }
      }
    }

    &.upflow-cards-5 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -5rem !important;
          }
        }
      }
    }

    &.upflow-cards-6 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -6rem !important;
          }
        }
      }
    }

    &.upflow-cards-7 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -7rem !important;
          }
        }
      }
    }

    &.upflow-cards-8 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -8rem !important;
          }
        }
      }
    }

    &.upflow-cards-9 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -9rem !important;
          }
        }
      }
    }

    &.upflow-cards-10 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -10rem !important;
          }
        }
      }
    }

    &.upflow-cards-11 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -11rem !important;
          }
        }
      }
    }

    &.upflow-cards-12 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -12rem !important;
          }
        }
      }
    }

    &.upflow-cards-13 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -13rem !important;
          }
        }
      }
    }

    &.upflow-cards-14 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -14rem !important;
          }
        }
      }
    }

    &.upflow-cards-15 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -15rem !important;
          }
        }
      }
    }

    &.upflow-cards-16 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -16rem !important;
          }
        }
      }
    }

    &.upflow-cards-17 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -17rem !important;
          }
        }
      }
    }

    &.upflow-cards-18 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -18rem !important;
          }
        }
      }
    }

    &.upflow-cards-19 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -19rem !important;
          }
        }
      }
    }

    &.upflow-cards-20 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -20rem !important;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &.upflow-lg-1 {
      > .container {
        > .row {
          margin-top: -1rem;
        }
      }
    }

    &.upflow-lg-2 {
      > .container {
        > .row {
          margin-top: -2rem;
        }
      }
    }

    &.upflow-lg-3 {
      > .container {
        > .row {
          margin-top: -3rem;
        }
      }
    }

    &.upflow-lg-4 {
      > .container {
        > .row {
          margin-top: -4rem;
        }
      }
    }

    &.upflow-lg-5 {
      > .container {
        > .row {
          margin-top: -5rem;
        }
      }
    }

    &.upflow-lg-6 {
      > .container {
        > .row {
          margin-top: -6rem;
        }
      }
    }

    &.upflow-lg-7 {
      > .container {
        > .row {
          margin-top: -7rem;
        }
      }
    }

    &.upflow-lg-8 {
      > .container {
        > .row {
          margin-top: -8rem;
        }
      }
    }

    &.upflow-lg-9 {
      > .container {
        > .row {
          margin-top: -9rem;
        }
      }
    }

    &.upflow-lg-10 {
      > .container {
        > .row {
          margin-top: -10rem;
        }
      }
    }

    &.upflow-lg-11 {
      > .container {
        > .row {
          margin-top: -11rem;
        }
      }
    }

    &.upflow-lg-12 {
      > .container {
        > .row {
          margin-top: -12rem;
        }
      }
    }

    &.upflow-lg-13 {
      > .container {
        > .row {
          margin-top: -13rem;
        }
      }
    }

    &.upflow-lg-14 {
      > .container {
        > .row {
          margin-top: -14rem;
        }
      }
    }

    &.upflow-lg-15 {
      > .container {
        > .row {
          margin-top: -15rem;
        }
      }
    }

    &.upflow-lg-16 {
      > .container {
        > .row {
          margin-top: -16rem;
        }
      }
    }

    &.upflow-lg-17 {
      > .container {
        > .row {
          margin-top: -17rem;
        }
      }
    }

    &.upflow-lg-18 {
      > .container {
        > .row {
          margin-top: -18rem;
        }
      }
    }

    &.upflow-lg-19 {
      > .container {
        > .row {
          margin-top: -19rem;
        }
      }
    }

    &.upflow-lg-20 {
      > .container {
        > .row {
          margin-top: -20rem;
        }
      }
    }

    &.upflow-cards-1 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -1rem !important;
          }
        }
      }
    }

    &.upflow-cards-2 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -2rem !important;
          }
        }
      }
    }

    &.upflow-cards-3 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -3rem !important;
          }
        }
      }
    }

    &.upflow-cards-4 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -4rem !important;
          }
        }
      }
    }

    &.upflow-cards-5 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -5rem !important;
          }
        }
      }
    }

    &.upflow-cards-6 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -6rem !important;
          }
        }
      }
    }

    &.upflow-cards-7 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -7rem !important;
          }
        }
      }
    }

    &.upflow-cards-8 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -8rem !important;
          }
        }
      }
    }

    &.upflow-cards-9 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -9rem !important;
          }
        }
      }
    }

    &.upflow-cards-10 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -10rem !important;
          }
        }
      }
    }

    &.upflow-cards-11 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -11rem !important;
          }
        }
      }
    }

    &.upflow-cards-12 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -12rem !important;
          }
        }
      }
    }

    &.upflow-cards-13 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -13rem !important;
          }
        }
      }
    }

    &.upflow-cards-14 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -14rem !important;
          }
        }
      }
    }

    &.upflow-cards-15 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -15rem !important;
          }
        }
      }
    }

    &.upflow-cards-16 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -16rem !important;
          }
        }
      }
    }

    &.upflow-cards-17 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -17rem !important;
          }
        }
      }
    }

    &.upflow-cards-18 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -18rem !important;
          }
        }
      }
    }

    &.upflow-cards-19 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -19rem !important;
          }
        }
      }
    }

    &.upflow-cards-20 {
      > .container {
        > .row {
          .col-cards {
            margin-top: -20rem !important;
          }
        }
      }
    }
  }
}

.no-overflow-image-left {
  img {
    max-width: 100%;
    margin-left: 0;
  }
}

.overflow-image-left {
  img {
    max-width: 110%;
    width: 110%;
    margin-left: -10%;
  }
}

.overflow-large-image-left {
  img {
    max-width: 120%;
    width: 120%;
    margin-left: -20%;
  }
}

.overflow-xlarge-image-left {
  img {
    max-width: 130%;
    width: 130%;
    margin-left: -30%;
  }
}

.overflow-xxlarge-image-left {
  img {
    max-width: 140%;
    width: 140%;
    margin-left: -40%;
  }
}

.overflow-xxxlarge-image-left {
  img {
    max-width: 150%;
    width: 150%;
    margin-left: -50%;
  }
}

.no-overflow-image-right {
  img {
    max-width: 100%;
  }
}

.overflow-image-right {
  img {
    max-width: 110%;
    width: 110%;
  }
}

.overflow-large-image-right {
  img {
    max-width: 120%;
    width: 120%;
  }
}

.overflow-xlarge-image-right {
  img {
    max-width: 130%;
    width: 130%;
  }
}

.overflow-xxlarge-image-right {
  img {
    max-width: 140%;
    width: 140%;
  }
}

.overflow-xxxlarge-image-right {
  img {
    max-width: 150%;
    width: 150%;
  }
}

@include media-breakpoint-up(md) {
  .no-overflow-image-left-md {
    img {
      max-width: 100%;
      margin-left: 0;
    }
  }

  .overflow-image-left-md {
    img {
      max-width: 110%;
      width: 110%;
      margin-left: -10%;
    }
  }

  .overflow-large-image-left-md {
    img {
      max-width: 120%;
      width: 120%;
      margin-left: -20%;
    }
  }

  .overflow-xlarge-image-left-md {
    img {
      max-width: 130%;
      width: 130%;
      margin-left: -30%;
    }
  }

  .overflow-xxlarge-image-left-md {
    img {
      max-width: 140%;
      width: 140%;
      margin-left: -40%;
    }
  }

  .overflow-xxxlarge-image-left-md {
    img {
      max-width: 150%;
      width: 150%;
      margin-left: -50%;
    }
  }

  .no-overflow-image-right-md {
    img {
      max-width: 100%;
    }
  }

  .overflow-image-right-md {
    img {
      max-width: 110%;
      width: 110%;
    }
  }

  .overflow-large-image-right-md {
    img {
      max-width: 120%;
      width: 120%;
    }
  }

  .overflow-xlarge-image-right-md {
    img {
      max-width: 130%;
      width: 130%;
    }
  }

  .overflow-xxlarge-image-right-md {
    img {
      max-width: 140%;
      width: 140%;
    }
  }

  .overflow-xxxlarge-image-right-md {
    img {
      max-width: 150%;
      width: 150%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .no-overflow-image-left-lg {
    img {
      max-width: 100%;
      margin-left: 0;
    }
  }

  .overflow-image-left-lg {
    img {
      max-width: 110%;
      width: 110%;
      margin-left: -10%;
    }
  }

  .overflow-large-image-left-lg {
    img {
      max-width: 120%;
      width: 120%;
      margin-left: -20%;
    }
  }

  .overflow-xlarge-image-left-lg {
    img {
      max-width: 130%;
      width: 130%;
      margin-left: -30%;
    }
  }

  .overflow-xxlarge-image-left-lg {
    img {
      max-width: 140%;
      width: 140%;
      margin-left: -40%;
    }
  }

  .overflow-xxxlarge-image-left-lg {
    img {
      max-width: 150%;
      width: 150%;
      margin-left: -50%;
    }
  }

  .no-overflow-image-right-lg {
    img {
      max-width: 100%;
    }
  }

  .overflow-image-right-lg {
    img {
      max-width: 110%;
      width: 110%;
    }
  }

  .overflow-large-image-right-lg {
    img {
      max-width: 120%;
      width: 120%;
    }
  }

  .overflow-xlarge-image-right-lg {
    img {
      max-width: 130%;
      width: 130%;
    }
  }

  .overflow-xxlarge-image-right-lg {
    img {
      max-width: 140%;
      width: 140%;
    }
  }

  .overflow-xxxlarge-image-right-lg {
    img {
      max-width: 150%;
      width: 150%;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .no-overflow-image-left-xxl {
    img {
      max-width: 100%;
      margin-left: 0;
    }
  }

  .overflow-image-left-xxl {
    img {
      max-width: 110%;
      width: 110%;
      margin-left: -10%;
    }
  }

  .overflow-large-image-left-xxl {
    img {
      max-width: 120%;
      width: 120%;
      margin-left: -20%;
    }
  }

  .overflow-xlarge-image-left-xxl {
    img {
      max-width: 130%;
      width: 130%;
      margin-left: -30%;
    }
  }

  .overflow-xxlarge-image-left-xxl {
    img {
      max-width: 140%;
      width: 140%;
      margin-left: -40%;
    }
  }

  .overflow-xxxlarge-image-left-xxl {
    img {
      max-width: 150%;
      width: 150%;
      margin-left: -50%;
    }
  }

  .no-overflow-image-right-xxl {
    img {
      max-width: 100%;
    }
  }

  .overflow-image-right-xxl {
    img {
      max-width: 110%;
      width: 110%;
    }
  }

  .overflow-large-image-right-xxl {
    img {
      max-width: 120%;
      width: 120%;
    }
  }

  .overflow-xlarge-image-right-xxl {
    img {
      max-width: 130%;
      width: 130%;
    }
  }

  .overflow-xxlarge-image-right-xxl {
    img {
      max-width: 140%;
      width: 140%;
    }
  }

  .overflow-xxxlarge-image-right-xxl {
    img {
      max-width: 150%;
      width: 150%;
    }
  }
}
