.mvh-0 {
  min-height: 0;
}

.mvh-5 {
  min-height: 15vh;
}

.mvh-10 {
  min-height: 10vh;
}

.mvh-15 {
  min-height: 15vh;
}

.mvh-20 {
  min-height: 20vh;
}

.mvh-25 {
  min-height: 25vh;
}

.mvh-30 {
  min-height: 30vh;
}

.mvh-35 {
  min-height: 35vh;
}

.mvh-40 {
  min-height: 40vh;
}

.mvh-45 {
  min-height: 45vh;
}

.mvh-50 {
  min-height: 50vh;
}

.mvh-55 {
  min-height: 55vh;
}

.mvh-60 {
  min-height: 60vh;
}

.mvh-65 {
  min-height: 65vh;
}

.mvh-70 {
  min-height: 70vh;
}

.mvh-75 {
  min-height: 75vh;
}

.mvh-80 {
  min-height: 80vh;
}

.mvh-85 {
  min-height: 85vh;
}

.mvh-90 {
  min-height: 90vh;
}

.mvh-95 {
  min-height: 95vh;
}

.mvh-100 {
  min-height: 100vh;
}
