.btn {
  font-family: font-main("cta"), font-midstack("sans-serif"), font-fallback("sans-serif");
  font-size: 15px;
  padding: 0.45rem 1.25rem;
  min-width: 100px;
  font-weight: 700;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.btn-primary,
  &.btn-secondary-alt,
  &.btn-secondary {
    color: #fff;
  }

  &.btn-primary-alt {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-color: btn-color("primary-alt");
    border-color: lighten(btn-color("secondary"), 10);

    &:hover {
      background-color: btn-color("secondary");
      border-color: lighten(btn-color("secondary"), 10);
      color: #fff;
    }
  }

  &.btn-white {
    color: btn-color("dark");
    background-color: btn-color("btn-white");
    border-color: btn-color("btn-white");

    &:hover {
      color: btn-color("primary");
      background-color: btn-color("btn-white");
      border-color: btn-color("btn-white");
    }
  }

  &.btn-purple {
    color: btn-color("btn-white");
    background-color: theme-color("secondary-purple");
    border-color: theme-color("secondary-purple");

    &:hover {
      color: theme-color("secondary-purple");
      background-color: btn-color("btn-white");
      border-color: theme-color("secondary-purple");
    }
  }

  &.btn-outline-purple {
    color: theme-color("secondary-purple");
    background-color: transparent;
    border-color: theme-color("secondary-purple");

    &:hover {
      color: theme-color("secondary-purple");
      background-color: transparent;
      border-color: theme-color("medium");
    }
  }

  &.btn-orange {
    color: btn-color("btn-white");
    background-color: theme-color("secondary-orange");
    border-color: theme-color("secondary-orange");

    &:hover {
      color: theme-color("secondary-orange");
      background-color: btn-color("btn-white");
      border-color: theme-color("secondary-orange");
    }
  }

  &.btn-outline-orange {
    color: theme-color("secondary-orange");
    background-color: transparent;
    border-color: theme-color("secondary-orange");

    &:hover {
      color: theme-color("secondary-orange");
      background-color: transparent;
      border-color: btn-color("medium");
    }
  }

  &.btn-green {
    color: btn-color("btn-white");
    background-color: theme-color("secondary-green");
    border-color: theme-color("secondary-green");

    &:hover {
      color: theme-color("secondary-green");
      background-color: btn-color("btn-white");
      border-color: theme-color("secondary-green");
    }
  }

  &.btn-outline-green {
    color: theme-color("secondary-green");
    background-color: transparent;
    border-color: theme-color("secondary-green");

    &:hover {
      color: theme-color("secondary-green");
      background-color: transparent;
      border-color: theme-color("medium");
    }
  }

  &.btn-outline-white {
    color: btn-color("btn-white");
    background-color: transparent;
    border-color: btn-color("btn-white");

    &:hover {
      color: btn-color("btn-white");
      background-color: transparent;
      border-color: btn-color("btn-white");
    }
  }

  &.icon-before {
    svg,
    i {
      margin-right: 0.5rem;
    }

    &.fa-caret-right,
    &.fa-caret-left,
    &.fa-caret-up,
    &.fa-caret-down {
      font-size: 1rem;
      margin-bottom: -0.09rem;
    }

    &.fa-arrow-right {
      font-size: 13px;

      @include media-breakpoint-up(xxxl) {
        font-size: 13px;
      }
    }
  }

  &.icon-after {
    svg,
    i {
      margin-left: 0.5rem;
    }

    &.fa-caret-right,
    &.fa-caret-left,
    &.fa-caret-up,
    &.fa-caret-down {
      font-size: 1rem;
      margin-bottom: -0.09rem;
    }

    &.fa-arrow-right {
      font-size: 13px;

      @include media-breakpoint-up(xxxl) {
        font-size: 13px;
      }
    }
  }
}

.btn-lg {
  font-size: 15px;
  padding: 0.75rem 2.65rem;
  min-width: 120px;
}

.btn-xl {
  font-size: 17px;
  padding: 0.825rem 2.9rem;
  min-width: 140px;
}

.buttons {
  .btn {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .link {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .btn-lg {
    margin-right: 2.1rem;
  }

  .link-lg {
    margin-right: 2.1rem;
  }

  .btn-xl {
    margin-right: 2.1rem;
  }

  .link-xl {
    margin-right: 2.1rem;
  }
}

.footer-buttons {
  margin-top: 1.75rem;
}

.nav-btn-outline {
  a {
    @extend .btn;
    @extend .btn-outline-dark;

    padding: 0.45rem 1.25rem;

    &:hover,
    &:active,
    &:focus {
      color: btn-color("dark") !important;
      background-color: btn-color("primary");
      border-color: btn-color("btn-white");
    }
  }
}

section {
  &.btn-primary-highlight-bottom-right-roi {
    .btn-secondary,
    .btn-primary {
      position: relative;

      &::after {
        content: "";
        background-image: url("../images/cta-btn-highlight-bottom-right-roi.png");
        position: absolute;
        left: 80%;
        top: 50%;
        height: 150px;
        width: 225px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
