.sidebar-nav {
  padding: 0 0 0 10px;

  li {
    padding-left: 5px;

    &::marker {
      content: "\00BB";
      color: theme-color("primary");
    }

    a {
      color: theme-color("secondary");
    }
  }
}

.sidebar-block-nav {
  .header {
    font-size: 18px;
    font-weight: 600;
    color: theme-color("secondary");
  }
}
