section {
  &.narrow-tns-controls-90 {
    .tns-controls {
      width: 90%;
      left: 5%;
    }
  }

  &.narrow-tns-controls-80 {
    .tns-controls {
      width: 80%;
      left: 10%;
    }
  }

  &.narrow-tns-controls-75 {
    .tns-controls {
      width: 75%;
      left: 12.5%;
    }
  }

  &.narrow-tns-controls-70 {
    .tns-controls {
      width: 70%;
      left: 15%;
    }
  }

  &.narrow-tns-controls-60 {
    .tns-controls {
      width: 60%;
      left: 20%;
    }
  }

  &.narrow-tns-controls-50 {
    .tns-controls {
      width: 50%;
      left: 25%;
    }
  }

  &.narrow-tns-controls-40 {
    .tns-controls {
      width: 40%;
      left: 30%;
    }
  }

  &.narrow-tns-controls-30 {
    .tns-controls {
      width: 30%;
      left: 35%;
    }
  }

  &.narrow-tns-controls-25 {
    .tns-controls {
      width: 25%;
      left: 37.5%;
    }
  }
}

@include media-breakpoint-up(md) {
  &.narrow-tns-controls-md-90 {
    .tns-controls {
      width: 90%;
      left: 5%;
    }
  }

  &.narrow-tns-controls-md-80 {
    .tns-controls {
      width: 80%;
      left: 10%;
    }
  }

  &.narrow-tns-controls-md-75 {
    .tns-controls {
      width: 75%;
      left: 12.5%;
    }
  }

  &.narrow-tns-controls-md-70 {
    .tns-controls {
      width: 70%;
      left: 15%;
    }
  }

  &.narrow-tns-controls-md-60 {
    .tns-controls {
      width: 60%;
      left: 20%;
    }
  }

  &.narrow-tns-controls-md-50 {
    .tns-controls {
      width: 50%;
      left: 25%;
    }
  }

  &.narrow-tns-controls-md-40 {
    .tns-controls {
      width: 40%;
      left: 30%;
    }
  }

  &.narrow-tns-controls-md-30 {
    .tns-controls {
      width: 30%;
      left: 35%;
    }
  }

  &.narrow-tns-controls-md-25 {
    .tns-controls {
      width: 25%;
      left: 37.5%;
    }
  }
}

@include media-breakpoint-up(lg) {
  &.narrow-tns-controls-lg-90 {
    .tns-controls {
      width: 90%;
      left: 5%;
    }
  }

  &.narrow-tns-controls-lg-80 {
    .tns-controls {
      width: 80%;
      left: 10%;
    }
  }

  &.narrow-tns-controls-lg-75 {
    .tns-controls {
      width: 75%;
      left: 12.5%;
    }
  }

  &.narrow-tns-controls-lg-70 {
    .tns-controls {
      width: 70%;
      left: 15%;
    }
  }

  &.narrow-tns-controls-lg-60 {
    .tns-controls {
      width: 60%;
      left: 20%;
    }
  }

  &.narrow-tns-controls-lg-50 {
    .tns-controls {
      width: 50%;
      left: 25%;
    }
  }

  &.narrow-tns-controls-lg-40 {
    .tns-controls {
      width: 40%;
      left: 30%;
    }
  }

  &.narrow-tns-controls-lg-30 {
    .tns-controls {
      width: 30%;
      left: 35%;
    }
  }

  &.narrow-tns-controls-lg-25 {
    .tns-controls {
      width: 25%;
      left: 37.5%;
    }
  }
}

@include media-breakpoint-up(xl) {
  &.narrow-tns-controls-xl-90 {
    .tns-controls {
      width: 90%;
      left: 5%;
    }
  }

  &.narrow-tns-controls-xl-80 {
    .tns-controls {
      width: 80%;
      left: 10%;
    }
  }

  &.narrow-tns-controls-xl-75 {
    .tns-controls {
      width: 75%;
      left: 12.5%;
    }
  }

  &.narrow-tns-controls-xl-70 {
    .tns-controls {
      width: 70%;
      left: 15%;
    }
  }

  &.narrow-tns-controls-xl-60 {
    .tns-controls {
      width: 60%;
      left: 20%;
    }
  }

  &.narrow-tns-controls-xl-50 {
    .tns-controls {
      width: 50%;
      left: 25%;
    }
  }

  &.narrow-tns-controls-xl-40 {
    .tns-controls {
      width: 40%;
      left: 30%;
    }
  }

  &.narrow-tns-controls-xl-30 {
    .tns-controls {
      width: 30%;
      left: 35%;
    }
  }

  &.narrow-tns-controls-xl-25 {
    .tns-controls {
      width: 25%;
      left: 37.5%;
    }
  }
}
