.highlight-dark {
  &.wp-block-gutenberg-layout-tabs {
    .tab-nav-link {
      &.active {
        &::after {
          background-color: theme-color("dark") !important;
        }
      }

      &:hover {
        &::after {
          background-color: rgba(theme-color("dark"), 0.9) !important;
        }
      }
    }
  }

  &:not(.wp-block-gutenberg-layout-tabs) {
    .superheadline {
      color: theme-color("dark");
    }

    a {
      &:not(.btn) {
        color: theme-color("dark");

        &:hover,
        &:active,
        &:focus {
          color: rgba(theme-color("dark"), 0.9);
        }
      }
    }
  }
}

.nav-wrapper {
  &.tabs-dark {
    ul.nav {
      a.tab-nav-link {
        color: theme-color("dark");

        &:hover,
        &:active,
        &:focus {
          color: rgba(theme-color("dark"), 0.85) !important;
        }
      }
    }
  }
}
