.highlight-light {
  &.wp-block-gutenberg-layout-tabs {
    .tab-nav-link {
      &.active {
        &::after {
          background-color: theme-color("light") !important;
        }
      }

      &:hover {
        &::after {
          background-color: rgba(theme-color("light"), 0.9) !important;
        }
      }
    }
  }

  &:not(.wp-block-gutenberg-layout-tabs) {
    .superheadline {
      color: theme-color("light");
    }

    a {
      &:not(.btn) {
        color: theme-color("light");

        &:hover,
        &:active,
        &:focus {
          color: rgba(theme-color("light"), 0.9);
        }

        &.tab-nav-link {
          &.active {
            &::after {
              background-color: theme-color("light");
            }
          }
        }
      }
    }
  }
}

.nav-wrapper {
  &.tabs-light {
    ul.nav {
      a.tab-nav-link {
        color: theme-color("light");

        &:hover,
        &:active,
        &:focus {
          color: rgba(theme-color("light"), 0.85) !important;
        }
      }
    }
  }
}
