.highlight-green {
  &.wp-block-gutenberg-layout-tabs {
    .tab-nav-link {
      &.active {
        &::after {
          background-color: theme-color("secondary-green") !important;
        }
      }

      &:hover {
        &::after {
          background-color: rgba(theme-color("secondary-green"), 0.9) !important;
        }
      }
    }
  }

  &:not(.wp-block-gutenberg-layout-tabs) {
    .superheadline {
      color: theme-color("secondary-green");
    }

    a {
      &:not(.btn) {
        color: theme-color("secondary-green");

        &:hover,
        &:active,
        &:focus {
          color: rgba(theme-color("secondary-green"), 0.9);
        }
      }
    }
  }
}

.nav-wrapper {
  &.tabs-green {
    ul.nav {
      a.tab-nav-link {
        color: theme-color("secondary-green");

        &:hover,
        &:active,
        &:focus {
          color: rgba(theme-color("secondary-green"), 0.85) !important;
        }
      }
    }
  }
}
